/* ************** HOME *************** */

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    background-color: white;
}

.divHome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgLogo {
    justify-content: center;
    background-image: url(./imagenes/we-study.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 45px;
    width: 300px;
    height: 300px;
    border: none;
}

.containerBtn {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 30% 0% 30% 0%;
    gap: 3vh;
    background-color: white;
}

.btnLogin {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px 40px;
    margin: 10% 0% 0% 0%;
}

.btnLogin:hover {
    background-color: rgb(251, 255, 0);
    color: black;
    border: 2px solid black;
    cursor: pointer;
}
 /* ACA TENGO UNA DUDA; QUIERO COLOCAR EL LOGO DE GOOGLE DENTRO DEL BOTON */
.btnLoginGoogle {
    background-color: black;
    /* background-image: url(imagenes/google.png);
    background-repeat: no-repeat; */
    color: white;
    border-radius: 30px;
    padding: 10px 40px;
}
.btnLoginGoogle:hover {
    background-color: rgb(251, 255, 0);
    color: black;
    border: 2px solid black;
    cursor: pointer;
}

.containerRegister {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btnRegister {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px 40px;
}

.btnRegister:hover {
    background-color: rgb(251, 255, 0);
    color: black;
    border: 2px solid black;
    cursor: pointer;
}


/***************************************** REGISTER **********************************************/
/* boton a home */
.btnHome {
    justify-content: flex-start;
    /* background-color: black; */
    background-image: url(./imagenes/flecha-birrete.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    border: 0;
    width: 40px;
    height: 50px;
    cursor: pointer;
}
/* contenedor */
.sectionRegister {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5% 5%;
}
/* Register: 'por favor ingresa tus datos' */
.divRegisterText .p {
    font-size: 25px;
}

.formRegister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    margin: 10px 20px;
    /* padding: 10% 20% 10% 20%; */
}

.section-input {
    display: flex;
    margin: 16px 0px;
    flex-direction: column;

}
/* todos los input del form */
.input {
    border:none;
    border-bottom:1px solid rgb(0, 0, 0);
}

.btnRegistrarme {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 30px;
    width: 200px;
    height: 50px;
}

.btnRegistrarme:hover {
    background-color: rgb(251, 255, 0);
    color: black;
    border: 2px solid black;
    cursor: pointer;
}

.textForm {
    font-size: 20px;
}

/* ***************************** LOGIN *********************************** */
/* btnHome tiene las mismas propiedades en todas las rutas */

.sectionSignIn {
    display: flex;
    justify-content: center;
}
.login-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4%;
    gap: 2vh;
    /* padding: 10% 20% 10% 20%; */
}

.btnLogIn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 30px;
    width: 200px;
    height: 50px;
}

.btnLogIn:hover {
    background-color: rgb(251, 255, 0);
    color: black;
    border: 2px solid black;
    cursor: pointer;
}

/* *********************************** WALL ********************************** */

.root { 
    display: flex;
    flex-direction: column;
}

.div-root {
    display: flex;
    justify-content: flex-end;
}
.btn-logout {
    justify-content: flex-end;
    background-image: url(./imagenes/signout.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    border: none;
    /* background-color: white;
    color: rgb(0, 0, 0);
    border: none;
    width: 100px;
    height: 50px; */
    cursor: pointer;
}
.title-app {
    font-size: 25px;
}
.post-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
}

.btnSave {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 50px;
}

.btnSave:hover {
    background-color: #39c;
    color: white;
    border-bottom: 1px;
    border: none;
    width: 50%;
    cursor: pointer;
}



@media screen and (min-width:900px) and (max-width:1400px) {

    .containerBtn {
        display: flex;
        flex-direction: column;
        gap: 3vh;
        margin: 5%;
    };

    .btnLogin {
        display: flex;
        justify-content: center;
        background-color: white;
        color: black;
        border-radius: 5px;
        padding: 10px 10px;
        width: 200px;
    }

}